<%- include("templates/header") %>



<body class="gradient-custom vh-100 d-flex align-items-center justify-content-center">
  <div class="container text-black text-center">
    <h1 class="display-1 fw-bold mb-4">404</h1>
    <h2 class="mb-4">Oops! Page not found.</h2>
    <p class="lead mb-5">The page you're looking for doesn't exist or has been moved.</p>
    <a href="/" class="btn btn-outline-light btn-lg">Go Home</a>
  </div>
</body>

  <%- include("templates/bottom-navbar") %>