<%- include("templates/header") %>
    <form action="/views/patient-profile.ejs">
        <button type="submit" class="btn btn-primary btn-lg mb-3">Back</button>
    </form>


    <%- include("templates/bottom-navbar") %>