<%- include("templates/header") %>
  <div class="container">
    <div class="analysis-form">
      <label for="serum-creatinine">Serum Creatinine:</label>
      <input type="text" name="serum-creatinine" id="serum-creatinine">
    </div>
    <div class="analysis-form">
      <label for="ejection-fraction">Ejection Fraction:</label>
      <input type="text" name="ejection-fraction" id="ejection-fraction">
    </div>
    <button type="button" class="btn btn-primary">Analyze</button>
    <button id="downloadBtn" class="btn btn-primary">Download</button>
  </div>
  <script>
    document.getElementById('downloadBtn').addEventListener('click', function () {
      var data = "Hello, World!";
      var blob = new Blob([data], { type: 'text/plain' });
      var url = URL.createObjectURL(blob);
      var a = document.createElement('a');
      a.href = url;
      a.download = 'example.txt';
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    });
  </script>

  <%- include("templates/bottom-navbar") %>