<%- include("templates/header") %>
    <!-- <form action="/views/patient-profile.ejs">
        <button type="submit" class="btn btn-primary btn-lg mb-3">Back</button>
    </form> -->

    </br>
    <p>result: <%= result.timestamp %>
    </p>

    <%- include("templates/bottom-navbar") %>