<%- include("templates/header") %>

<div class="pt-5">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Dashboard!</h1>
      <p class="lead">Here you can manage your account settings.</p>
      <hr class="my-4">
      
      <div class="row justify-content-center mt-4">
        <div class="col-sm-6 text-right">
          <form action="/doctor-profile">
            <button type="submit" class="btn btn-primary btn-lg mb-3">Profile</button>
          </form>
        </div>
        <div class="col-sm-6 text-left">
          <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger btn-lg mb-3">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("templates/bottom-navbar") %>
