<%- include("templates/header") %>

<link rel="stylesheet" href="/public/styles/index.css">





    <main role="main" class="inner cover d-flex">
  <div class="text-content">
    <h1 class="cover-heading">Your Heart Health, Our Priority:</h1>
    <p class="lead">
      An AI-powered diagnostic tool to help healthcare professionals accurately predict and manage heart failure risks, revolutionizing early detection and intervention for cardiovascular diseases with cutting-edge algorithms and predictive analytics.
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      <a href="/login" class="btn btn-lg btn-primary">Login</a>
    </p>
  </div>
  <img src="/public/images/Doctor.jpg" class="cover-image">
</main>


    
</body>
