<%- include("templates/header") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <body>
        <div class="container mt-5">

            <button style="margin-bottom: 2rem; margin-top: 2rem; margin-left: 2rem;" class="btn btn-primary"
                onclick="history.back()">Back</button>

            <h1 class="text-center mb-4">Patient Heart Risk History</h1>

            <div class="card">
                <div class="card-body">
                    <canvas id="myChart" style="width:100%;max-width:1100px;"></canvas>
                </div>
            </div>
        </div>
        <script>

            var xyValues = JSON.parse('<%- data %>');
            const dateSeries = xyValues.map((v) => ({ ts: Date.parse((v.x)), y: (v.y) }));
            dateSeries.sort((a, b) => { return a.ts - b.ts });

            const labels = dateSeries.map((ds) => (new Date((ds.ts)).toLocaleDateString('en-US')));

            new Chart("myChart", {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(0,0,255)",
                        data: dateSeries,
                    }]
                },

                options: {
                    legend: {
                        display: false,
                    },
                    plugins: {
                        title: {
                            text: 'Heart failure risk history',
                            display: true
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                tooltipFormat: 'DD T'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'value'
                            }
                        }
                    },
                },
            });

        </script>

    </body>




    <%- include("templates/bottom-navbar") %>