<%- include("templates/header") %>

<link rel="stylesheet" href="/public/styles/login.css">

<section class="d-flex align-items-center vh-100 gradient-custom">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="card text-dark bg-light mb-3" style="border-radius: 1rem">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-user-plus"></i> Register</div>
                    <div class="card-body">
                        <form action="/register" method="post">
                            <div class="form-group">
                                <label for="typeName">Full Name</label>
                                <input type="text" class="form-control" id="typeName" name="username" aria-describedby="nameHelp">
                            </div>
                            <div class="form-group">
                                <label for="typeEmailX">Email</label>
                                <input type="email" class="form-control" id="typeEmailX" name="email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="typePasswordX">Password</label>
                                <input type="password" class="form-control" id="typePasswordX" name="password">
                            </div>
                            <div class="form-group">
                                <label for="typeConfirmPasswordX">Confirm Password</label>
                                <input type="password" class="form-control" id="typeConfirmPasswordX" name="confirmPassword" style="margin-bottom: 10px" >
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                            <a href="/login" class="btn btn-light btn-block">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
