<%- include("templates/header") %>

    <div class="text-center">
        <h1 class="mb-4">This page is currently under construction.</h1>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>

    <%- include("templates/bottom-navbar") %>