<script>
    function incrementCounter() {
        let count = parseInt(localStorage.getItem("buttonClicks")) || 0;
        count++;
        localStorage.setItem("buttonClicks", count);
    }
</script>
</body>

<div class="fixed-bottom">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a class="navbar-brand text-center" href="/dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <div style="font-size: 10px;">Dashboard</div>
            </a>
            <a class="navbar-brand text-center" href="/patient-list">
                <i class="fas fa-notes-medical"></i>
                <div style="font-size: 10px;">Patients</div>
            </a>
            <a class="navbar-brand text-center" href="/analyze">
                <i class="fas fa-microscope"></i>
                <div style="font-size: 10px;">Analyze</div>
            </a>
            <a class="navbar-brand text-center" href="/under-construction">
                <i class="fas fa-bell"></i>
                <div style="font-size: 10px;">Notifications</div>
            </a>
            <a class="navbar-brand text-center" href="/doctor-profile" onclick="incrementCounter()">
                <i class="fas fa-user-md"></i>
                <div style="font-size: 10px;">Profile</div>
            </a>
        </div>
    </nav>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>