<div class="row justify-content-center my-3">
    <div class="col-12 text-center">
        <h5>Sort by:</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
        <span class="badge bg-primary" style="width: 100%">
            <a class="text-decoration-none text-white" href="?sort=firstName&order=asc">First Name (A-Z)</a>
        </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
        <span class="badge bg-primary" style="width: 100%">
            <a class="text-decoration-none text-white" href="?sort=firstName&order=desc">First Name (Z-A)</a>
        </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
        <span class="badge bg-primary" style="width: 100%">
            <a class="text-decoration-none text-white" href="?sort=lastName&order=asc">Last Name (A-Z)</a>
        </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
        <span class="badge bg-primary" style="width: 100%">
            <a class="text-decoration-none text-white" href="?sort=lastName&order=desc">Last Name (Z-A)</a>
        </span>
    </div>
</div>