/* Add styles here */
body {
    padding-top: 56px;
    /* Space for the navbar */
    padding-bottom: 56px;
    /* Space for the bottom navbar */
}

@media (max-width: 991.98px) {
    body {
        padding-top: 68px;
        padding-bottom: 68px;
    }
}

.main-content {
    overflow-y: auto;
    height: calc(100vh - 160px);
    /* Adjust this value based on the total height of your navbars */
}