@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  color: #ffffff;
  text-align: center;
}

body {
  background-color: #000000;
}

section.notFound {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5%;
  height: 100vh;
}

section.notFound .img {
  flex: 1;
}

section.notFound .img img {
  max-width: 100%;
  height: auto;
}

section.notFound h1 {
  color: red;
  font-size: 100px;
}

section.notFound h2 {
  font-size: 50px;
}

section.notFound h1,
section.notFound h2,
section.notFound h3 {
  margin-bottom: 40px;
}

div.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.text a {
  text-decoration: none;
  margin-right: 20px;
}

div.text a:hover {
  color: red;
  text-decoration: underline;
}

.yes {
  font-size: xxx-large;
}

@media only screen and (max-width: 768px) {
  section.notFound {
    flex-direction: column;
    align-items: center;
  }
  
  section.notFound .img {
    width: 100%;
  }
  
  section.notFound .img img {
    width: 100%;
    height: auto;
  }
  
  section.notFound h1 {
    font-size: 50px;
  }
  
  section.notFound h2 {
    font-size: 25px;
  }

  div.text a:active {
    color: red;
    text-decoration: underline;
  }
}
