.analyze-container {
    font-family: 'Arial', sans-serif;
    padding: 2em;
}

h1 {
    color: #555;
    font-weight: bold;
}

p {
    color: #777;
    margin-bottom: 1em;
}

.input-group {
    width: 100%;
}

#searchBar {
    margin-bottom: 1em;
}

#add-patient-button {
    color: white;
    margin-bottom: 1em;
}

#patientList {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2em;
}

.analysis-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.analysis-form label {
    font-weight: bold;
    margin-bottom: .5em;
}

.analysis-form input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: .5em;
    font-size: 1em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
