body {
  font-family: Arial, sans-serif;
}

.analyze-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #343a40;
}

p {
  color: #6c757d;
}

.analysis-form {
  margin-bottom: 20px;
}

.analysis-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.analysis-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.mandatory {
  color: red;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#patientList {
  margin-bottom: 20px;
}

#patientList .list-group-item {
  cursor: pointer;
  margin-bottom: 10px;
}

#patientList .list-group-item:hover {
  background-color: #f8f9fa;
}

#patientList .list-group-item.border.border-success {
  border-color: #28a745 !important;
}
