body {
    padding-top: 71px; /* Adjusted based on actual navbar height */
    padding-bottom: 86px; /* Adjusted based on actual bottom navbar height */
    background-color: #f2f8fb;
    color: #333;
}

@media (max-width: 991.98px) {
    body {
        padding-top: 71px; /* Adjust if navbar height changes */
        padding-bottom: 86px; /* Adjust if bottom navbar height changes */
    }

    .main-content {
        overflow-y: auto;
        height: calc(100vh - (71px + 86px)); /* Adjusted based on actual navbar and bottom navbar heights */
    }
}

.main-content {
    overflow-y: auto;
    height: calc(100vh - (71px + 86px)); /* Adjusted based on actual navbar and bottom navbar heights */
}

.navbar {
    background-color: #20639b; /* Navy color */
    border-bottom: 1px solid #e9ecef; /* Simple border */
    padding: 15px 0; /* Extra padding */
}

.navbar-brand {
    color: #f8f9fa !important; /* Change text color */
}

.fixed-bottom {
    background-color: #20639b;
}
