body {
    padding-top: 50px; /* Adjust if navbar height changes */
    padding-bottom: 60px; /* Adjust if bottom navbar height changes */
    background-color: #f2f8fb;
    color: #333;
    
}

@media (max-width: 991.98px) {
    body {
        padding-top: 68px; /* Adjust if navbar height changes */
        padding-bottom: 68px; /* Adjust if bottom navbar height changes */
    }

    .main-content {
        overflow-y: auto;
        height: calc(100vh - 136px); /* Adjust this value based on the total height of your navbars */
    }
}

.main-content {
    overflow-y: auto;
    height: calc(100vh - 110px); /* Adjust this value based on the total height of your navbars */
}

.navbar {
    background-color: #20639b; /* Navy color */
    border-bottom: 1px solid #e9ecef; /* Simple border */
    padding: 15px 0; /* Extra padding */
}

.navbar-brand {
    color: #f8f9fa !important; /* Change text color */
}

.fixed-bottom {
    background-color: #20639b;

}



