body {
    font-family: 'Manrope', sans-serif;
}

.bg-lightblue {
    background-color: #4ca2ff !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    color: white !important;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.hero {
    padding: 100px 0;
}

.hero .display-4 {
    margin-bottom: 30px;
}

.hero .lead {
    margin-bottom: 40px;
}

.footer {
    padding: 20px 0;
}

.text-center {
    margin-bottom: 20px;

}