html, body {
  height: 100%;
}

body {
  background-color: #f2f8fb;
  color: #333;
  padding: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px; /* adjust this value to your liking */
  margin: 0 auto;
}

.inner.cover.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content {
  order: 2;
  padding: 20px;
}

.cover-image {
  order: 1;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .inner.cover.d-flex {
    flex-direction: row;
  }

  .text-content {
    padding-right: 20px;
  }

  .cover-image {
    margin-left: 20px;
  }
}




@media (min-width: 768px) {
  .inner.cover.d-flex {
    flex-direction: row;
  }

  .text-content {
    padding-right: 20px;
  }

  .cover-image {
    margin-left: 20px;
  }
}

h1, h3 {
  color: #20639b;
}

.nav-link.active {
  color: #e63946;
}

.nav-link {
  color: #1d3557;
}

.btn-primary {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

.btn-secondary {
  background-color: #8ab6d6;
  border-color: #8ab6d6;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-lg:hover {
  transform: translateY(-3px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.cover-container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  font-size: 48px;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
}

footer {
  background-color: #e9ecef;
}
